%h1 Duplicated Programs

.top-controls
  = link_to 'Program List', programs_url, {class: 'btn btn-primary'}

#paginated-list

  = will_paginate @programs

  .index-entries
    - @programs.each do | p |
      .index-entry
        .index-entry-detail
          = duplicate_report_display p

  = will_paginate @programs