%h1 Programs

.top-controls
  = link_to 'New Program', new_program_url, {class: 'btn btn-primary'}

.index-entries
  - @programs.each do | p |
    = render partial: 'program_capsule', locals: {program: p}
  = will_paginate @programs
