%h1 Programs

.top-controls
  = link_to 'New Program', new_program_url, {class: 'btn btn-primary'}
  = form_tag(programs_path, method: :get, remote: true) do
    = text_field_tag :search, params[:search], placeholder: 'Enter search term'

#paginated-list
  = render partial: 'paginated_programs', locals: {programs: @programs}

#search-results