%h1 Program

.program
  = @program.name
  = @program.year
  - @program.directors.each do |dir|
    = dir.name
  - @program.series.each do |ser|
    = ser.name

.links
  =link_to "Programs", programs_url