.modal-header
  %h5#myModalLabel.modal-title
    Select Director
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  .programs
    = text_field_tag 'select_search', nil, {'data-search-path': director_selector_search_path('REPLACE'), id: 'select_search', onchange: 'loadSelector(this)'}
    = select_tag 'selected_id_value', options_for_select([]), {include_blank: '', class: 'hidden'}
.modal-footer
  %button.btn.btn-primary{ 'data-dismiss': 'modal', type: 'buttom', 'aria-hidden': 'true', onclick: "setSelected(#{@set_id}, #{@link_id})" }
    Set Director
  %button.btn.btn-secondary{ 'data-dismiss': 'modal', type: 'buttom', 'aria-hidden': 'true' }
    Close
