%h1 Directors

=link_to 'New Director', new_director_url

-@directors.each do |dir|
  .director
    = dir.name
    = link_to 'destroy', director_path(dir), method: :delete, confirm: "Delete #{dir.name}?"