%h1 Director Index

.top-controls
  = link_to 'New Director', new_director_url, {class: 'btn btn-primary'}
  = form_tag(directors_path, method: :get, remote: true) do
    = text_field_tag :search, params[:search], placeholder: 'Enter search term'

#paginated-list
  = render partial: 'paginated_directors', locals: {directors: @directors}

#search-results