%h1 Director

.director
  .name
    = @director.name
  .director_aliases
    = @director.director_aliases.map(&:name).join(', ')
  - if @director.programs.any?
    .programs
      .label
        = 'Program'.pluralize(@director.programs.count)
      - @director.programs.each do |p|
        .program
          = p.name

.footer-links
  =link_to "Directors", directors_url