%h1 Alternate Titles

.top-controls
  = link_to 'New Alternate Title', new_alternate_title_url, {class: 'btn btn-primary'}

= render partial: 'paginated_alternate_titles', locals: {alternate_titles: @alternate_titles}