%h1 Alternate Title

.alternate_title
  .name
    = @alternate_title.name
  .program
    = @alternate_title.program.name

.footer-links
  = link_to "Alternate Title List", alternate_titles_url, {class: 'btn btn-primary'}
