%h1 Alternate Title

.alternate_title
  .name
    = @alternate_title.name
  .program
    = @alternate_title.program.name

.footer-links
  = link_to "Alternate Title List", alternate_titles_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_alternate_title_path(@alternate_title, page: @page), {class: 'btn btn-secondary'}
