.index-entry
  .controls
    %span
      = link_to "show", program_version_cluster_path(cluster, page: @page)
    %span
      = link_to "edit", edit_program_version_cluster_path(cluster, page: @page)
    %span.caution
      = link_to 'destroy', program_version_cluster_path(cluster), method: :delete, data: {confirm: "Delete cluster?"}
  .index-entry-detail
    = program_version_cluster_capsule cluster