/*
 *= require_tree .
 *= require_self
 */

 .navbar {
   border-bottom-style: solid;
   border-bottom-width: 1px;
 }

 .top-controls {
   margin-bottom: .5rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 2rem;
 }

 .content {
  padding-left: .25rem;
  padding-right: .25rem;
  padding-bottom: .5rem;
}

.index-entries {
  border-style: solid;
  border-width: 1px;
  margin-top: .5rem;
  padding: .5rem;
  
  .index-entry {
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .controls {
      font-size: smaller;
      margin-right: 1rem;

      a {
        color: green;
      }

      .caution {
        a {
          color: red;
        }
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.pagination {
  .previous_page {
    margin-right: 0.25rem;
  }
  .current {
    font-style: normal;
    margin-right: 0.25rem;
    font-weight: bold;
  }
  a {
      margin-right: 0.25rem;
  }
}

form {
  .form-group{
    position: relative;
    padding-top: 1rem;
    label {
      position: absolute;
      top: 0;
      left: .5rem;
      font-size: smaller;
      background-color: white;
    }
  }
  .controls {
    margin-left: .5rem;
    margin-top: 1rem;
    .btn-primary {
      margin-right: 2rem;
    }
  }
}

.footer-links {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top-style: solid;
  border-top-width: 1px;
  .btn-primary {
    margin-right: 2rem;
  }
}