.director {
  .name {
    font-size: larger;
    font-weight: bold;
  }
  .director_aliases {
    font-style: oblique;
  }
  .programs {
    margin-top: 1rem;
    .program {
      a {
        color: black;
      }
    }
  }
  .label { font-weight: bold;}
  form {
    .director_fields {
      padding: .5rem;
    }
    .director_aliases {
      font-style: normal;
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
    }
  }
}