.disc {
  .format {
    font-weight: bold;
    font-size: larger;
  }
  .state {
    font-style: oblique;
  }
  .package {
    a {
      color: black;
    }
  }
  .disc_programs {
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
    padding: .5rem;
    .program {
      padding-top: .25rem;
      padding-bottom: .25rem;
      .name {
        font-weight: bold;
        a {
          color: black;
        }
      }
    }
  }
  .series_discs {
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
    padding: .5rem;
    .series {
      padding-top: .25rem;
      padding-bottom: .25rem;
      .name {
        a {
          font-weight: normal;
          font-size: smaller;
          color: black;
        }
      }
    }
  }
  form {
    .disc_fields {
      padding: .5rem;
    }
    .disc_programs {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .disc_program_fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .form-group {
          padding-right: 1rem;
        }
      }
    }
    .series_discs {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .series_disc_fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}