// Place all the styles related to the Packages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.disc {
  border-style: solid;
  border-width: 1px;
  margin: 0.5rem;
  padding: 0.25rem;
}