.package {
  .name {
    font-weight: bold;
    font-size: larger;
  }
  .disc {
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
    padding: .5rem;
    .format {
      font-style: normal;
      font-size: large;
    }
    .sequence {
      font-weight: bold;
      font-size: larger;
    }
    .disc_name {
      font-style: italic;
      font-weight: bold;
      a {
        color: black;
      }
    }
    .programs {
      font-style: oblique;
      a {
        color: black;
      }
    }
  }
  .series {
    border-style: solid;
    border-width: 1px;
    margin-top: .75rem;
    padding: .5rem;
    .label { font-weight: bold;}
    .values {
      a {
        color: black;
      }
    }
  }
  form {
    .package-fields {
      padding: .5rem;
    }
    .disc {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .disc_fields {
        .format {
          font-size: inherit;
          font-weight: bold;
        }
        .programs {
          font-style: oblique;
          font-size: smaller;
        }
      }
    }
    .series_packages {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .series-package-fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}