.program_version_cluster {
  .titles {
    .main_title {
      font-size: larger;
      font-weight: bold;
    }
  }
  .directors {
    margin-top: 1rem;
    .label {
      font-weight: bold;
    }
    .values {
      a {
        color: black;
      }
    }
  }
  .versions {
    margin-top: 1rem;
    .label {
      font-weight: bold;
    }
    .values {
      a {
        color: black;
      }
    }
  }
}