.program {
  .titles {
    .main_title {
      font-weight: bold;
      font-size: larger;
    }
    .alternate_titles {
      font-style: oblique;
    }
  }
  .program_info {
    margin-top: .5rem;
  }
  .cluster {
    font-style: italic;
    a {
      color: black;
    }
  }
  .persons {
    margin-top: 1rem;
    .label { font-weight: bold;}
    .values {
      a {
        color: black;
      }
    }
  }
  .series {
    margin-top: 1rem;
    .label { font-weight: bold;}
    .values {
      a {
        color: black;
      }
    }
  }
  form {
    .program_fields {
      padding: .5rem;
    }
    .programs_persons {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .programs-persons-fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .series_programs {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .series-program-fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .alternate_titles {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
    }
  }
}