.program {
  .titles {
    .main_title {
      font-weight: bold;
      font-size: larger;
    }
    .alternate_titles {
      font-style: oblique;
    }
  }
  .program_info {
    margin-top: .5rem;
  }
  .directors {
    margin-top: 1rem;
    .label { font-weight: bold;}
  }
  .series {
    margin-top: 1rem;
    .label { font-weight: bold;}
  }
  form {
    .program_fields {
      padding: .5rem;
    }
    .programs_directors {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .programs-director-fields {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
    .series_programs {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
    }
    .alternate_titles {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
    }
  }
}