.series {
  .name {
    font-size: larger;
    font-weight: bold;
  }
  .wrapper_series_series {
    margin-top: 1rem;
    .label {
      font-weight: bold;
    }
    .wrapper_series {
      a {
        color: black;
      }
    }
  }
  .series_capsules {
    margin-top: 1rem;
    .label {
      font-weight: bold;
    }
    .series_capsule {
      .sequence {
        font-weight: bold;
        margin-right: 1.5rem;
      }
      .capsule {
        a {
          color: black;
        }
      }
    }
  }
  form {
    .series_fields {
      padding: .5rem;
    }
    .series_capsule {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .capsule_name {
        margin-left: .5rem;
      }
    }
  }
}