.series {
  .name {
    font-size: larger;
    font-weight: bold;
  }
  .programs {
    margin-top: 1rem;
    .label {
      font-weight: bold;
    }
  }
  form {
    .program {
      border-style: solid;
      border-width: 1px;
      padding: .5rem;
      margin: .5rem;
      .program_name {
        margin-left: .5rem;
      }
    }
  }
}