%h1 Series Index

.top-controls
  = link_to 'New Series', new_series_url, {class: 'btn btn-primary'}
  = form_tag(series_index_path, id: 'search_form', method: :get, remote: true) do
    = text_field_tag :search, params[:search], placeholder: 'Enter search term', autofocus: true

#paginated-list
  = render partial: 'paginated_series', locals: {series: @series}

#search-results