%h1 Series

.series
  = @series.name
  .programs
    - @series.series_programs.sort_by {|sp| sp.safe_sequence}.each do | sp |
      .program  
        = sp.sequence
        = sp.program.name
        = sp.program.version

.links
  =link_to "Series", series_index_url