%h1 Location

.location
  .name
    = @location.name

  - if @location.discs.any?
    .discs
      -@location.discs.sort_by { |d| d.title_sort_value }.each do |disc|
        .disc
          = disc.display_name

.footer-links
  =link_to "Locations", locations_url