%h1 Location

.location
  .name
    = @location.name

  - if @location.discs.any?
    .discs
      -@location.discs.map{|d| DiscsSearch.find(d.id)}.sort_by { |d| d.sort_title }.each do |disc|
        .disc
          = link_to disc.display_name, disc_path(disc)

.footer-links
  = link_to "Location List", locations_url(page: @page), {class: 'btn btn-primary'}
  = link_to "Edit", edit_location_path(@location, page: @page), {class: 'btn btn-secondary'}